
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}
/*soluzione uno*/
.ex-1-square:hover{
    background-color: red;
    
}


.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 4s;
}
/*soluzione due*/
.ex-2-square:active{
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 2s;
}
/*soluzione tre*/

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 3s;
}
/*soluzione quattro*/
.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: scale 2s ;
}
/*soluzione cinque*/
.ex-5-square:hover{
    scale: 2;
}
.ex-5-square:active{
    scale: 1;
}


.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
/*esercizio sei*/
.ex-7-img:hover,
.ex-6-img:hover{
    filter: grayscale(1);
}
/*esercizio sette*/
.ex-7-img{
    transition: filter 2s;
}
/*esercizio otto*/
.ex-8-img{

    transition: border-radius 2s, filter 2s, scale 2s; 
}

.ex-8-img:hover{
    border-radius: 15px;
    filter: grayscale(1);
    scale: 0.5;
    
}


.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: scale 2s, filter 2s, border-radius 2s; ;
}
/*esercizio nove*/
.ex-9-img:hover{
    scale: 2;
    filter: grayscale(1) sepia(1);
    border-radius: 15px;
}

.ex-10-icon {
    font-size: 60px;
    animation: buffering 2s;
    animation-iteration-count: infinite;
}
/*esercizio dieci*/
@keyframes buffering{
  0%  { rotate: 0deg;}
100%  {rotate: 360deg;}
}


.ex-11-icon {
    font-size: 60px;
    animation-iteration-count: infinite;
}
/*esercizio undici*/
.ex-11-icon:hover{
    animation: buffering-75 2s;
    animation-iteration-count: infinite;

}

@keyframes buffering-75{
    0%  { rotate: 0deg;}
  75%  {rotate: 275deg;}
  }

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
/*esercizio dodici*/
.ex-12-bottom-white{
    animation: moove-bottom 2s;
    animation-iteration-count: infinite;
}
@keyframes moove-bottom{
    0%{bottom:-10px; right: 10%;} 
    90%{bottom: -10px; right: 60%;}
} 
.ex-12-top-white{
    animation: moove-white 2s;
    animation-iteration-count: infinite;

}

@keyframes moove-white{
    0%{top:-10px; left: 10%;} 
    90%{top: -10px; left: 60%;}
} 
    


.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
/*esercizio tredici*/

.ex-13-top-white{
    animation: moove-around-top 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
@keyframes moove-around-top{
    0%{top:-10px; left: 10%;} 
    35%{top: -10%; left: 90%;}
    50%{top: 90%; left: 90%;}
    75%{top: 90%; left: -10px;}
    95%{top: -10px; left: -10%;}
    100%{top: -10; left: 10%;}
} 

.ex-13-bottom-white{
    animation: moove-around-bottom 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes moove-around-bottom{
    0%{bottom:-10px; right: 10%;} 
    35%{bottom: -10%; right: 80%;}
    50%{bottom: 90%; right: 80%;}
    75%{bottom: 90%; right: -10px;}
    95%{bottom: -10px; right: -10%;}
    100%{bottom: -10; right: 10%;}
}







